{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:UsermanagementController:showCreateUser{% endblock %}

{% block body %}
<h1>Welcome to the UsermanagementController:showCreateUser page</h1>
{% endblock %}
