{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:UsermanagementController:showUsers{% endblock %}

{% block body %}
<h1>Welcome to the UsermanagementController:showUsers page</h1>
{% endblock %}
