{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:UsermanagementController:showCreateRole{% endblock %}

{% block body %}
<h1>Welcome to the UsermanagementController:showCreateRole page</h1>
{% endblock %}
