{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:UsermanagementController:showChangePassword{% endblock %}

{% block body %}
<h1>Welcome to the UsermanagementController:showChangePassword page</h1>
{% endblock %}
