{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:UsermanagementController:showRoles{% endblock %}

{% block body %}
<h1>Welcome to the UsermanagementController:showRoles page</h1>
{% endblock %}
