{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:UsermanagementController:showProviders{% endblock %}

{% block body %}
<h1>Welcome to the UsermanagementController:showProviders page</h1>
{% endblock %}
