SetEnv APPLICATION_ENV development

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} ^(.*)/img/(.*)$ [NC]
RewriteCond %1/../../inherent/public/img/%2 -s
RewriteRule . /inherent/img/%2 [NC,L]

RewriteCond %{REQUEST_FILENAME} ^(.*)/pdf/(.*)$ [NC]
RewriteCond %1/../../inherent/public/pdf/%2 -s
RewriteRule . /inherent/pdf/%2 [NC,L]

# Order is important: CSS must be check before JS because the js libraries contains CSS 
RewriteCond %{REQUEST_FILENAME} ^(.*)/css/(.*)$ [NC]
RewriteCond %1/../../inherent/public/css/new/%2 -s
RewriteRule . /inherent/css/index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} ^(.*)/css/(.*)$ [NC]
RewriteCond %1/../../inherent/public/css/patch/%2 -s
RewriteRule . /inherent/css/index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} ^(.*)/css/(.*)$ [NC]
RewriteCond %1/../../inherent/public/css/substitute/%2 -s
RewriteRule . /inherent/css/index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} ^(.*)/js/(.*)$ [NC]
RewriteCond %1/../../inherent/public/js/new/%2 -s
RewriteRule . /inherent/js/index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} ^(.*)/js/(.*)$ [NC]
RewriteCond %1/../../inherent/public/js/patch/%2 -s
RewriteRule . /inherent/js/index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} ^(.*)/js/(.*)$ [NC]
RewriteCond %1/../../inherent/public/js/substitute/%2 -s
RewriteRule . /inherent/js/index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} ^(.*)/mapProxy.php$ [NC]
RewriteCond %1/../../inherent/public/mapProxy.php -s
RewriteRule . /inherent/mapProxy.php [NC,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]