<phpunit bootstrap="../test/application/Bootstrap.php" colors="true">

	<testsuites>
	    <testsuite name="OGAMTestSuite">
	        <directory>../test/application</directory>
	    </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../htdocs/ogam/application/</directory>
            <exclude>
                <file>../htdocs/ogam/application/Bootstrap.php</file>
                <directory suffix=".phtml">../htdocs/ogam/application/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="../hudson/junit/junit.xml"/>
        <log type="coverage-xml" target="../hudson/junit/coverage.xml" />
        <log type="coverage-html" target="../hudson/junit/coverage" />
    </logging>  
           
</phpunit>