<phpunit bootstrap="./test/application/Bootstrap.php" colors="true">

    <testsuite name="OGAMTestSuite">
        <directory>./test/application/</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./ogamServer/app/</directory>
            <exclude>
                <file>./ogamServer/app/Bootstrap.php</file>
                <directory suffix=".phtml">./ogamServer/app/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="./hudson/junit/junit.xml"/>
        <log type="coverage-xml" target="./hudson/junit/coverage.xml" />
        <log type="coverage-html" target="./hudson/junit/coverage" />
    </logging>  
           
</phpunit>