<phpunit bootstrap="./app/Bootstrap.php" colors="true">

    <testsuite name="OGAMTestSuite">
        <directory>./app/</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../ogamServer/app/</directory>
            <exclude>
                <file>../ogamServer/app/Bootstrap.php</file>
                <directory suffix=".phtml">../ogamServer/app/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="../build/test-results/phpunit/phpunit.xml"/>
        <log type="coverage-xml" target="../build/test-results/phpunit/coverage.xml" />
        <log type="coverage-html" target="../build/test-results/phpunit/coverage" />
    </logging>  
           
</phpunit>