{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:Integration:cancelDataSubmission{% endblock %}

{% block body %}
<h1>Welcome to the Integration:cancelDataSubmission page</h1>
{% endblock %}
