{% extends "::base.html.twig" %}

{% block body %}
<h1>
  {{ 'Data integration module'|trans }}) - {{ 'Error'|trans }}
</h1>
<div class="error-msg">
    <img class="status-img" src="<?php echo  $this->baseUrl('img/Red_x.png') ?>" />{{ error }}
</div>
<div class="bottom-menu">
    <a href="<?php echo $this->baseUrl('integration/show-data-submission-page') ?>"><b>{{ 'Submit Data'|trans }}</b></a>
</div>
{% endblock %}
