{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:Integration:showCreateDataSubmission{% endblock %}

{% block body %}
<h1>Welcome to the Integration:showCreateDataSubmission page</h1>
{% endblock %}
