{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:Integration:validateUploadData{% endblock %}

{% block body %}
<h1>Welcome to the Integration:validateUploadData page</h1>
{% endblock %}
