{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:Integration:validateCreateDataSubmission{% endblock %}

{% block body %}
<h1>Welcome to the Integration:validateCreateDataSubmission page</h1>
{% endblock %}
