.filterBin{
    background:transparent url(images/bin.gif) no-repeat scroll;
}
/* *********************************************************************************************** */

/* **** Column Form Panel Body *********************************************************************** */
.columnLabelBinColor{
    background:transparent url(images/bin.gif) no-repeat scroll;
}
.columnLabelColor {
    color: $form-field-color;
}