.feature-info {
    background-image:url(images/OgamDesktop/tools/map/information.png) !important;
}
.zoomin {
    background-image:url(images/OgamDesktop/tools/map/magnifier_zoom_in.png) !important;
}
.zoomout {
    background-image:url(images/OgamDesktop/tools/map/magnifier_zoom_out.png) !important;
}
.zoomfull {
    background-image:url(images/OgamDesktop/tools/map/world.png) !important;
}
.pan {
    background-image:url(images/OgamDesktop/tools/map/icon_pan.png) !important;
}
.back {
    background-image:url(images/OgamDesktop/tools/map/arrow_rotate_clockwise.png) !important;
}
.next {
    background-image:url(images/OgamDesktop/tools/map/arrow_rotate_anticlockwise.png) !important;
}
.drawpoint {
    background-image:url(images/OgamDesktop/tools/map/draw_point_off.png) !important;
}
.drawline {
    background-image:url(images/OgamDesktop/tools/map/draw_line_off.png) !important;
}
.drawpolygon {
    background-image:url(images/OgamDesktop/tools/map/draw_polygon_off.png) !important;
}
.modifyfeature {
    background-image:url(images/OgamDesktop/tools/map/move_vertex_off.png) !important;
}
.deletefeature {
    background-image:url(images/OgamDesktop/tools/map/cross.png) !important;
}
.addgeomcriteria {
    background-image:url(images/OgamDesktop/tools/edit/map_edit.png) !important;
}
.zoomstations {
    background-image:url(images/OgamDesktop/tools/map/arrow_in.png) !important;
}
.snapping {
    background-image:url(images/OgamDesktop/tools/map/snapping.png) !important;
}
.selectFeature {
    background-image:url(images/OgamDesktop/tools/map/select_feature.png) !important;
}
.selectFeature {
    background-image:url(images/OgamDesktop/tools/map/select_feature.png) !important;
}
.printMap {
    background-image:url(images/OgamDesktop/tools/doc/printer.png) !important;
}