{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue dans OGAM Server</h1>

<br/>

<h2>Users</h2>

{#dump(users) #}


{% for user in users %}
    <p>
    User :{{ user.login }}<br/> 
    Name : : {{ user.username }}<br/>
    Rôles :
    {% for role in user.roles %}
    	{{ role.label }}
    {% endfor %}<br/>
    Provider : {{ user.provider.label }}
    </p>
{% endfor %}



{% endblock %}