* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

h1,h2,h3 {
	color: #135CAE;
}

h3 {
	border-bottom: 1px dotted #CCCCCC;
	display: block;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.7em;
	margin-left: 20px;
	padding: 0;
	text-transform: uppercase;
}

ul.errors {
	color: #FF0000;
}

img {
	border: 0 none;
}

ul,ol {
	margin-left: 2em;
}

fieldset {
	padding: .5em;
}

body {
	background-color: #CCCCCC;
	background-image: url("../img/CCCCCC.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76.8%;
	line-height: 1.8em;
	margin: 0 0;
	height: 100%;
}

.wrapper {
	color: #333333;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 0;
	margin-bottom: -40px;
	/* the bottom margin is the negative value of the footer's height */
}

.main-body {
	background-color: #FFFFFF;
	color: #606060;
	margin: 0 auto;
	text-align: left;
	margin-left: 40px;
	margin-right: 40px;
	height: 100%;
}

.main-body-bg {
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 40px;
	right: 40px;
	z-index: -1;
	bottom: 30px;
}

.header {
	height: 120px; /* size of banner + top menu */
}

.header-beadcrumb {
	width: 400px;
}

.header-login {
	text-align: right;
	font-weight: bold;
}

.fr-flag {
    background-image: url(../img/fr_flag.png) !important;
    width: 30px;
    height: 16px;
    margin-top: 3px;
    float: left;
}

.en-flag {
    background-image: url(../img/en_flag.png) !important;
    width: 30px;
    height:16px;
    margin-top: 3px;
    float: left;
}

.banner {
	color: #CCCCCC;
	/*margin:10px 0;*/
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.top {
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	padding: 2px 5px;
	background-color: #EEEEEE; 
	height: 21px;
}

.content {
	background-color: #FFFFFF;
    padding-bottom:15px;
}

.content h1,.content h2 {
	text-align: center;
	margin-top: 20px;
}

.footer,.push {
	height: 40px; /* .push must be the same height as .footer */
}

.footer {
	position: relative;
	text-align: center;
	vertical-align: middle;
	background-color: #CCCCCC;
	color: #FFFFFF;
}

.footer-ct {
	position: relative;
	top: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

a:visited {
	text-decoration: none;
	color: #135CAE;
}

.left-column {
	width: 300px;
}

#contextual {
	padding-left: 30px;
}

#contextual p {
	margin: 0;
}

#contextual li {
	margin-left: 15px;
}

#divJRCRequestForm {
	position: absolute;
	left: 5px;
	width: 250px;
}

#queryForm {
	position: absolute;
	top: 180px;
	left: 5px;
	width: 250px;
}

#divQueryResult {
	position: absolute;
	top: 180px;
	left: 260px;
	right: 250px;
}
/** Menu **/
div.moduletable_menu {
	margin: 30px 0;
}

div.moduletable_menu li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.moduletable_menu a:hover {
	background-color: #EEEEEE;
	color: #666666;
	text-decoration: none;
}

div.moduletable_menu a:link,div.moduletable_menu a:active,div.moduletable_menu a:visited
	{
	background-image: url(../img/greybullet2.png);
	background-position: 5px 50%;
	background-repeat: no-repeat;
	border-bottom: 1px dotted #CCCCCC;
	color: #606060;
	display: block;
	padding: 3px 5px 3px 25px;
}

.field_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.criteria_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.result_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

tr.sectiontableentry0 td {
	background-color: #EDEDED;
	padding: 3px;
	text-align: left;
}

tr td.file-name {
    font-style: italic;
    font-size: 0.8em;
    padding:0px 3px 10px 3px!important;
    line-height:0.8em;
}

tr.sectiontableentry1 td {
	padding: 3px;
	text-align: left;
}

tr td.line-number {
    text-align: right;
}

.csv-export {
	background-image: url(../img/table_save.png) !important;
}

.sectiontableentry0 img,.sectiontableentry1 img {
	height: 16px;
	border: 0 none;
	margin: 0 0 0 10px;
}

.status-img {
	height: 16px;
	border: 0 none;
	margin: 0 10px 0 0;
}

.error-msg {
	text-align: center;
	margin: 100px 0 0;
}

.bottom-menu {
	text-align: center;
	margin: 40px 0 0;
}

.sectiontable {
	margin: 30px auto;
}

.subTableLink {
	text-align: center;
}

.tempStatusDiv {
	display: inline;
}

img.percentImage {
	background: white url(../img/percentImage_back.png) top left no-repeat;
	padding: 0;
	margin: 5px 0 0 0;
	background-position: 1px 0;
}

.no-submission, .password-change-user-name{
    margin: 50px 0;
    text-align: center;
}

.edit-cell a{
    background: url(../img/page_white_edit.png) top left no-repeat;
    padding: 1px 8px;
}

.change-password-cell a{
    background: url(../img/key.png) top left no-repeat;
    padding: 1px 8px;
}

.delete-cell a{
    background: url(../img/delete.png) top left no-repeat;
    padding: 1px 8px;
}

/**************************************/
/**      Zend Form CSS               **/
/**************************************/

.form-super-ct {
    background-color: #F7F7F7;
    border-bottom: 2px dotted #CCCCCC;
    border-top: 2px dotted #CCCCCC;
    margin: 50px auto;
    padding: 22px 40px;
    /*text-align: right; *//* For the buttons */
}
.form-ct {
    margin:0 auto;
    width:350px;
}
.zend_form .element, .zend_form .button{
    position: relative;
}
.zend_form .multicheckbox label{
    margin-left:30px;
}
.zend_form .multicheckbox label.title{
    display:block;
    font-weight: bold;
    margin:10px 0;
}
.zend_form .multicheckbox input{
    width:auto;
    margin-top:6px;
}
.zend_form input{
    width:200px;
    position: absolute;
    right: 0;
}
.zend_form select{
   width: 204px;
   position: absolute;
   right: 0;
}
.zend_form .file input{
    width: auto;
}
.zend_form .button{
    margin-top:20px;
    height: 25px;
}
.zend_form .button input{
    width:100px;
}
.zend_form .hint-title{
    font-weight: bold;
}
.zend_form .file .hint{
    background-color:#F0F0F0;
    margin: 10px 0;
}

/**************************************/
/**      Zend Form CSS               **/
/**           Special cases          **/
/**************************************/

/** Integration Part
/**************************************/

/** data-submission-form **/
.data-submission-form .form-ct {
    width:500px;
}
.data-submission-form .zend_form select{
   width: 400px;
}

/** data-upload-form **/
.data-upload-form .form-ct {
    width:450px;
}
.data-upload-form .zend_form .file .hint{
    width:1000px;
    margin-left:-275px;
}
.data-upload-form .zend_form label{
    font-weight: bold;
}

/** User Part
/**************************************/

/** change-current-user-password-form **/
.change-current-user-password-form .form-ct {
    width:370px;
}

/** login-form **/
.login-form .form-ct {
    width:300px;
}

/** User Management Part
/**************************************/

/** user-form **/
.user-form .form-ct {
    width:370px;
}

/** change-user-password-form **/
.change-user-password-form .form-ct {
    width:370px;
}

/** role-form **/
.role-form .form-ct {
    width:370px;
}

/************************************************************/
/*      Tooltips CSS                                        */
/* TODO : Replace with something more consistent with ExtJS */
/************************************************************/
a.tooltip {
	
}

a.tooltip em {
	display: none;
}

a.tooltip:hover {
	border: 0;
	position: relative;
	z-index: 500;
	text-decoration: none;
}

a.tooltip:hover em {
	font-style: normal;
	display: block;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 5px;
	color: #000;
	border: 1px solid #bbb;
	background: #ffc;
	width: 300px;
}

a.tooltip:hover em span {
	position: absolute;
	top: -7px;
	left: 15px;
	height: 7px;
	width: 11px;
	background: transparent url("../img/infobulletop00.gif");
	margin: 0;
	padding: 0;
	border: 0;
}

dt {
	font-weight: bold;
}