{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:Harmonization:launchHarmonization{% endblock %}

{% block body %}
<h1>Welcome to the Harmonization:launchHarmonization page</h1>
{% endblock %}
