{% extends "::base.html.twig" %}

{% block body %}

<h1>Demande de changement de mot de passe</h1>

<p>&nbsp;</p>

<p>Vous avez demandé à réinitialiser le mot de passe associé à l'adresse email <em>{{ email }}.</em></p>


<p>Si cette adresse est bien associée à un compte utilisateur, vous allez recevoir un courriel vous indiquant la marche à suivre.
    Merci de vérifier votre boite de réception. Vous devrez accéder à la page indiquée dans le courriel, afin de saisir votre
    nouveau mot de passe.</p>

<p class="note">Note : Le courriel est envoyé de façon automatique,
    pensez à vérifier votre courrier indésirable si vous ne le recevez pas rapidement.</p>

{% endblock %}