{% extends "::base.html.twig" %}

{% block body %}

<br/>
<br/>

<h1>Confirmation d'envoi de demande de changement de mot de passe</h1>


<br/>
<br/>

<p>Merci de vérifier votre boite courriel, afin de répondre au message de confirmation qui vient de vous être envoyé.</p>

<p>Vous serez redirigé sur une page vous permettant de saisir un nouveau mot de passe.</p>

<p class="note">Note : Le courriel est envoyé de façon automatique, pensez à vérifier votre courrier indésirable si vous ne le recevez pas rapidement.</p>

{% endblock %}