{% extends "::base.html.twig" %}
{% form_theme form 'form.html.twig' %}

{% block body %}

<h1>  
  {% trans %}Password_forgotten{% endtrans %}
</h1>

{{ form(form) }}


{% trans %}Forgotten_password_send_email_message{% endtrans %}

{% endblock %}
